

</div>  
 <div class="row">
    <p class="col s7 push-s5" style="color: red">
        By Schools Of Net
    </p>
  </div>    
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>    

</body>
</html>